# Configuration de la base de données
# Copiez ce fichier en .env et modifiez les valeurs selon votre configuration
# Pour Dokploy, configurez ces variables dans l'interface (section Environment)

# Configuration Dokploy (Production)
DB_HOST=garage-database-8te5zx
DB_PORT=3306
DB_USER=mysql
DB_PASSWORD=gt7yxk0c69yn90rs
DB_NAME=garage_db

# Configuration locale (Développement)
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=garage_db

# Configuration de l'API
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=False

